<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.it.lpw.game">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name=".ui.activity.IntroActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.RewardedAds"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.InterAds"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.PlayGames"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.OtpVerification"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.AboutusActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="About us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.YTVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="Watch Video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WebviewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/AppTheme.NoTitle" />
        <activity
            android:name=".ui.activity.WeburlActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="Visit &amp; Earn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.WithdrawActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="Redeem"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.Splash"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:theme="@style/AppTheme.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FrontLogin"
            android:configChanges="screenSize|screenLayout|keyboardHidden"
            android:label="SignIn"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.FrontSignup"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.SpinColorActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="Spin and Win"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.SpinNumbersActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="Spin and Win"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.SpinGamesTypesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:label="Spin and Win"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".paytm.ui.PaytmDevActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:label="Add Cash"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".ui.activity.PushNotificationService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/APPLOVIN_SDK_KEY" />
    </application>

</manifest>